<table>
  <thead>
  <td>Points</td>
  <td>Assists</td>
  <td>Rebounds</td>
  <td>Steals</td>
  <td>Blocks</td>
  </thead>
  <tr>
    <td><%= @daily_players.find_points_leader %></td>
  </tr>
</table>

